.services{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 0%;
}

.contTop{
    display: flex;
    flex-direction: row;
}

.contLeft{
    display: flex;
    background-color: #232e55;
    color:floralwhite;
    width: 55%;
}

.ApA{
    display: flex;
    flex-direction: column;
    padding: 10% 15%;
}

.leftIcon{
    display: flex;
    flex-direction: row;
    padding-bottom: 15%;
}

.p{
    display: flex;
    letter-spacing: .3em;
    font-size: 0.8823529412em;
    text-transform: uppercase;
    font-weight: 400;
}

.pl{
    display: flex;
    flex-direction: row;
}

.m{
    padding-right: 27%;
}

.AAA{
    padding-bottom: 6%;
}

.AA{
    display: flex;
    font-family: "oswald", sans-serif;
    letter-spacing: -0.06em;
    font-size: 4.7058823529em;
    font-weight: 900;
    line-height: 80.25%;
    letter-spacing: -0.06em;
    transform: scaleX(0.7); 
    margin-left: -90px;
}

.Imgs{
    display: flex;
    width: 45%;
}

.contArrows{
    display: flex;
    flex-direction: row;
    height: 27vh;
}

.contRight{
    display: flex;
    background-color: #232e55;
    color: floralwhite;
    margin-left: 55%;
    width: 30%;
    justify-content: center;
    align-items: center;
    font-size: 130%;
}

.Arrows{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
}

.arrowIcon{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.ose{
    font-size: 120%;
    font-weight: 600;
}

.tng{
    font-size: 120%;
    font-weight: 800;
}

.cn{
    font-weight: 700;
    line-height: 100%;
}

@media screen and (min-width:769px) and (max-width:1200px){
    .ApA {
        padding: 5% 10%;
    }

    .AA {
        font-size: 3em;
    }

    .contArrows{
        flex-direction: column;
    }

    .contRight{
        padding: 5%;
    }

    .Arrows{
        padding-top: 2%;
        margin-left: 60%;
    }

    .ose{
        font-size: 120%;
        font-weight: 600;
    }

    .tng{
        font-size: 120%;
        font-weight: 800;
    }
}
 
@media screen and (min-width:578px) and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .services {
        overflow-x: hidden;
        overflow-y: hidden;
        margin-bottom: -20%;
    }

    .contLeft {
        width: 100%; 
    }

    .ApA {
        padding: 5% 7%;
    }

    .leftIcon{
        flex-direction: row;
        font-size: 150%;
        padding-bottom: 10%;
    }

    .pl{
        justify-content: flex-start;
    }
    
    .m{
        padding-right: 14%;
    }

    .AAA{
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
    }

    .AO{
        padding-right: 3%;
    }

    .AA {
        font-size: 4em;
        min-height: 10px;
        letter-spacing: -0.09em;
        font-weight: 800;
        font-size: 3.5294117647em;
    }

    .ose{
        font-size: 120%;
        font-weight: 600;
    }

    .tng{
        font-size: 120%;
        font-weight: 800;
    }

    .p {
        font-size: 0.7em;
    }

    .Imgs{
        display: none;
    }

    .contRight{
        display: flex;
        background-color: #232e55;
        color: floralwhite;
        margin-left: 0%;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .contArrows{
        flex-direction: column;
    }

    .contRight{
        padding: 2% 0%;
    }

    .Arrows{
        margin-left: 15%;
    }

    .ose{
        font-size: 120%;
        font-weight: 600;
    }

    .tng{
        font-size: 120%;
        font-weight: 800;
    }
}

@media screen and (max-width: 577px) {
    body {
        overflow-x: hidden;
        
    }

    .services {
        overflow-x: hidden;
        margin-bottom: -15%;
    }

    .contLeft {
        width: 100%; 
    }

    .ApA {
        padding: 5% 7%;
    }

    .leftIcon{
        flex-direction: column;
        font-size: 150%;
        padding-bottom: 20%;
    }

    .pl{
        justify-content: flex-start;
    }

    .m{
        padding-right: 14%;
    }

    .AAA{
        display: flex;
        flex-direction: row;
        padding-bottom: 10%;
    }

    .AO{
        padding-right: 3%;
    }

    .AA {
        font-size: 2em;
        min-height: 10px;
        letter-spacing: -0.09em;
        margin-left: -10px;
    }

    .p {
        font-size: 0.7em;
    }

    .Imgs{
        display: none;
    }

    .contArrows{
        display: none;
    }

    .ose{
        font-size: 120%;
        font-weight: 600;
    }

    .tng{
        font-size: 120%;
        font-weight: 800;
    }
}
