.subtitle {
    font-size: 2.9411764706em;
    line-height: 92%;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    letter-spacing: -0.06em;
    font-weight: bold;
    font: 50px;
  }