@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Acumin1';
    src: url('./fonts/Acumin-BdItPro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin2';
    src: url('./fonts//Acumin-BdPro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin3';
    src: url('./fonts//Acumin-ItPro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin4';
    src: url('./fonts//Acumin-RPro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'impact';
    src: url('./fonts//impact.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'renogare';
    src: url('./fonts//Renogare-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lucida';
    src: url('./fonts//Lucida\ Fax\ Demibold.ttf');
    font-weight: normal;
    font-style: normal;
}