/* Estilos para el contenedor principal */
.context-data-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

/* Estilos para el título */
.context-data-title {
    color: #1a1a1a; /* Color del texto oscuro */
    margin-bottom: 1rem; /* Espacio inferior */
    font-family: 'Roboto', sans-serif; /* Fuente personalizada */
    font-size: 24px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra de texto */
}

/* Estilos para las estadísticas */
.context-data-statistics {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr)); /* Columnas automáticas con un mínimo de 150px y máximo de 1fr */
    gap: 20px;
    justify-content: center; /* Centra las estadísticas horizontalmente */
}

/* Estilos para cada estadística */
.statistic {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido horizontalmente */
    transition: box-shadow 0.3s ease; /* Transición suave del sombreado */
}

/* Efecto de resaltado al pasar el cursor */
.statistic:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumenta el sombreado al pasar el cursor */
}

/* Estilos para el número */
.statistic-number {
    color: #1b8b0c; /* Color verde para los números */
    font-family: 'Open Sans', sans-serif; /* Fuente personalizada */
    font-size: 50px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    text-shadow: 0 0 5px rgba(34, 156, 17, 0.7); /* Sombra de texto */
    animation: scaleAnimation 0.5s ease-out forwards; /* Animación de escala */
}

/* Efecto de agrandamiento al pasar el cursor */
.statistic:hover .statistic-number {
    font-size: 60px; /* Aumenta el tamaño del número al pasar el cursor */
}

/* Estilos para la descripción */
.statistic-description {
    color: #333; /* Color del texto un poco más oscuro */
    font-weight: bold; /* Texto resaltado */
    font-style: italic; /* Estilo de letra cursiva */
    font-family: 'Open Sans', sans-serif; /* Fuente personalizada */
    font-size: 20px; /* Tamaño de la fuente */
    margin-top: 0.5rem; /* Espacio superior */
}



/* Media query para ajustar el número de columnas en dispositivos más pequeños */
@media screen and (max-width: 768px) {
    .context-data-statistics {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Columnas automáticas */
    }
}

/* Animación de escala */
@keyframes scaleAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
