
.context-data-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.context-data-title {
    
    color: #1a1a1a;
    margin-bottom: 1rem; 
    font-family: 'Roboto', sans-serif; 
    font-size: 24px;
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}


.context-data-statistics {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr)); 
    gap: 20px;
    justify-content: center;
}

.statistic {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s ease; 
}

.statistic:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.statistic-number {
    color: #232e55; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 50px;
    font-weight: bold; 
    text-shadow: 0 0 5px rgba(35, 46, 85, 0.7);
    animation: scaleAnimation 0.5s ease-out forwards;
}


.statistic:hover .statistic-number {
    font-size: 60px;
}


.statistic-description {
    color: #333; 
    font-weight: bold;
    font-style: italic; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px; 
    margin-top: 0.5rem; 
}



/* Media query para ajustar el número de columnas en dispositivos más pequeños */
@media screen and (max-width: 768px) {
    .context-data-statistics {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Columnas automáticas */
    }
}

/* Animación de escala */
@keyframes scaleAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
