@keyframes writing {
  0% {
    width: 0;
  }
  50%,
  100% {
    width: 100%;
  }
}

#errorNumber {
  overflow: hidden;
  white-space: nowrap;
  animation: writing 4s steps(40, end), blink-caret 0.75s step-end;
  animation-iteration-count: 1;
}
