/* Footer.css */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #222D56;
  width: 100%;
}


.footer-visitanos,
.footer-contacto,
.footer-redes {
  flex: 1;
  margin: 5px; /* Reducir el margen */
  color: aliceblue;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  text-align: center; /* Centrar el contenido */
}

.logo-footer{
  width: 200px;
}

.footer-copy {
  width: 100%;
  margin-top: 20px; /* Espacio entre las secciones y el footer-copy */
  color: aliceblue;
  border-top: 0.5px solid white; /* Grosor de la línea */
  width: 80%; /* Ancho de la línea */
}


.footer-redirecion {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  background-color: white;
}
